<div *ngIf="!loading"
     class="container-fluid">
  <table class="table table-sm table-borderless align-middle">
    <tbody>
      <tr *ngFor="let score of scores.slice(0,5); let i = index">
        <td><i class="fas fa-trophy mx-auto"
             [hidden]="i > 2"
             [ngClass]="{'gold': i === 0, 'silver': i === 1, 'bronze': i === 2}"
             [style.font-size]="(2 - .25 * i)+'em'"></i></td>
        <td><img [src]="score.logo"
               style="height: 2.5em" /></td>
        <td>{{score.name}}</td>
        <td>{{score.score}}</td>
      </tr>
    </tbody>
  </table>
</div>
